/* Materializecss Customs */
.btn-small {
  padding: 0px 1rem;
  height: 28px;
  line-height: 28px;
}
.btn-xsmall {
  padding: 0px .2rem;
  height: 20px;
  line-height: 20px;
}

header, main, footer {
  padding-left: 240px;
}

/* Dashboard Side Navigation */
.side-nav.fixed { 
  padding-top: 64px; 
  overflow-x: hidden;
}
.side-nav li { padding: 0px; }

.side-nav .fa {
  line-height: 40px; 
}
.side-nav a, 
.side-nav.fixed a { 
  color: white;
  height: 40px;
  line-height: 40px;
}
.side-nav li:hover, 
.side-nav li.active {
  background-color: #2196f3; 
}
.side-nav li .dropdown-content { 
  margin-left: 100px; 
}

.side-nav li .dropdown-content li:hover {
  background-color: #1976D2;
}

.side-nav li.left-nav-information {
  margin-top: 20px;
}

/* Dashboard */
.dashboard { padding-top: 25px; }

/* Dashboard Count Badge */
.dashboard .quick-reports .count-badge.circle {
  color: white;
  width: 150px;
  height: 150px;
  font-size: 80px;
  display: inline-block;
  line-height: 150px;
  font-weight: bold;
}

/* Dashboard Cards */
.card .card-title {
  color: #333333; 
}
.card .card-content form {
  display: inline;
}
.dashboard .card .card-action {
  padding: 10px 0px 10px 0px;
}
.dashboard .card .card-action a:last-child {
  margin-right: 0px;
}

/* Indexes */
span.layout { font-size: 10px; color: #ccc; margin-left: 20px;}
span.layout .layout-thumb { max-width: 30px; vertical-align: middle; }

.collection-item:hover { background: #FAFAFA; cursor: pointer; }
.collection-item .secondary-content { margin-left: 8px; }
.collection-item .delete { margin-left: 40px; }

.sidebar-index-information { padding: 0px 20px; }

.superadmin-sidebars .delete, .superadmin-sidebars .edit { height: 30px; line-height: 30px; font-size: 18px; padding: 0rem .5rem; margin: 8px 0px 0px 7px; }
.superadmin-sidebars .collapsible-header .fa.fa-times,
.superadmin-sidebars .collapsible-header .fa.fa-edit { line-height: 30px !important; }

/* ace editor */
#ww-ace-editor, pre.ace_editor { min-height: 600px; }

@media only screen and (max-width : 992px) {
header, main, footer {
  padding-left: 0;
}
}

label > input{ /* HIDE RADIO */
  display:none;
}
label > input + img{ /* IMAGE STYLES */
  cursor:pointer;
  border:2px solid transparent;
  max-width: 120px;
}
label > input:checked + img{ /* (CHECKED) IMAGE STYLES */
  border:2px solid #2BBBAD;
}