body, html { overflow-x: hidden; }

body.default-layout,
body.account-layout {
  margin-top: 80px;
}

/* Helpers */
.wwc-btn-disabled {
  opacity: 0.5;
}

/* Ajax Loaders */
.ajax-loader-blue {
  display: block;
  margin: 0 auto;
}

/* User Account */
.wwc-account-side-menu {
  background: #DADBD9;
  
}
.wwc-account-side-menu ul {
  padding-bottom: 15px;
  border-left: 2px solid #388DC1;
}
.wwc-account-side-menu ul li a {
  padding: 13px 8px 13px 15px;
  color: #0D212E;
  display: block;
  transition: all 0.2s ease-in-out;
}
.wwc-account-side-menu ul li a:hover {
  background: white;
}

.wwc-account-main-content {
  /*background: white;*/
}
.wwc-account-main-content .wwc-panel {
  background: white;
}
.wwc-account-main-content .wwc-panel .wwc-panel-title {
  margin: 0px 8px;
  font-weight: 800;
  padding: 8px 0px;
  color: #388DC1;
  border-bottom: 1px solid #388DC1;
}
.wwc-account-main-content .wwc-panel .wwc-panel-body {
  padding: 10px;
}
.wwc-account-main-content .wwc-panel .wwc-panel-body p {
  margin: 0px 0px 15px 0px;
}


.btn { 
  border: 0; 
  color: white; 
  padding: 8px 15px; 
  font-size: 16px; 
  display: inline-block;
}
.btn:hover { 
  cursor: pointer; 
}
.wwc-green-text { 
  color: #69aa6f; 
}
.wwc-green-bg { 
  background-color: #69aa6f;
  transition: all 0.2s ease-in-out;
}
.wwc-green-bg:hover {
  background-color: #7ECC84;
}

/*
.wwc-auth-form { margin: 100px auto 0 auto; width: 300px; }
.wwc-auth-form p { margin: 1em 0px !important; }
.wwc-auth-form p a { font-size: 13px; }
.wwc-auth-form .input-field { margin-bottom: 10px; }
.wwc-auth-form .input-field input { padding: 10px; border: 0; background: none; border-bottom: 1px solid #69aa6f; width: 100%; }
.wwc-auth-form .input-field input:focus { border-bottom: 2px solid #69aa6f; }

main { margin-top: 80px; padding-top: 20px; }
*/
@media only screen and (max-width: 1170px) {
  body.home-layout main { margin-top: 50px; padding-top: 20px; }
}

body#app { background: #e2e3df; }
/* -------------------------------- 

Primary style

-------------------------------- */
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-size: 100%;
  font-family: "Source Sans Pro", sans-serif;
  color: rgba(2, 23, 37, 0.7);
  background-color: #ede9e7;
}
body.overflow-hidden {
  /* when primary navigation is visible, the content in the background won't scroll */
  overflow: hidden;
}

a {
  color: white;
  text-decoration: none;
}

/* -------------------------------- 

Modules - reusable parts of our design

-------------------------------- */
.wwc-container {
  /* this class is used to give a max-width to the element it is applied to, and center it horizontally when it reaches that max-width */
  width: 100%;
  margin: 0 auto;
}
.wwc-container:after {
  content: "";
  display: table;
  clear: both;
}

.wwc-teaser-form h3 {
    color: #fff;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 300;
}

.wwc-teaser-form h3 span {
    color: #fff;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 700;
}

.wwc-teaser-form {
    width: 80%;
    max-width: 600px;
    margin: -80px auto;
  }
  
  .wwc-teaser-form .wwc-form input[type=submit] {
    background: #2f889a;
    transition: all 0.5s ease;
    font-size: 16px;
    padding: 15px;
}

/* -------------------------------- 

Main components 

-------------------------------- */
html, body {
  height: 100%;
}

.wwc-header {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(2, 23, 37, 0.95);
  height: 50px;
  width: 100%;
  z-index: 3;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wwc-table-cell nav.main-nav {
    float: none;
    /* margin: 0px; */
    /* width: auto; */
    background: transparent;
    position: relative;
    display: inline-block;
    width: 300px;
    /* margin: 0; */
    margin: -40px auto;
}


@media only screen and (min-width: 768px) {
  .wwc-header {
    height: 80px;
    box-shadow: none;
  }
  
  .home-layout .wwc-header {
    background: transparent;
  }
  
  .wwc-teaser-form {
    width: 80%;
    max-width: 600px;
    margin: -100px auto;
  }
  
}
@media only screen and (min-width: 1170px) {
  .wwc-header {
    -webkit-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    transition: background-color 0.3s;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  .wwc-header.is-fixed {
    /* when the user scrolls down, we hide the header right above the viewport */
    position: fixed;
    top: -80px;
    background-color: rgba(2, 23, 37, 0.96);
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    transition: transform 0.3s;
  }
  .wwc-header.is-visible {
    /* if the user changes the scrolling direction, we show the header */
    -webkit-transform: translate3d(0, 100%, 0);
    -moz-transform: translate3d(0, 100%, 0);
    -ms-transform: translate3d(0, 100%, 0);
    -o-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  .wwc-header.menu-is-open {
    /* add a background color to the header when the navigation is open */
    background-color: rgba(2, 23, 37, 0.96);
  }
}

.wwc-logo {
  display: block;
  position: absolute;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  left: .875em;
}
.wwc-logo img {
  display: block;
}
@media only screen and (min-width: 768px) {
  .wwc-logo {
    left: 2.6em;
  }
}

.wwc-secondary-nav {
  position: absolute;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 10em;
  /* hidden on small devices */
  display: none;
}
.wwc-secondary-nav li {
  display: inline-block;
  margin-left: 2.2em;
}
.wwc-secondary-nav a {
  display: inline-block;
  color: white;
  text-transform: uppercase;
  font-weight: 700;
}
@media only screen and (min-width: 768px) {
  .wwc-secondary-nav {
    display: block;
  }
}

.wwc-primary-nav-trigger {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 50px;
  background-color: #03263d;
}
.wwc-primary-nav-trigger .wwc-menu-text {
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  /* hide the text on small devices */
  display: none;
}
.wwc-primary-nav-trigger .wwc-menu-icon {
  /* this span is the central line of the menu icon */
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  width: 18px;
  height: 2px;
  background-color: white;
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  transition: background-color 0.3s;
  /* these are the upper and lower lines in the menu icon */
}
.wwc-primary-nav-trigger .wwc-menu-icon::before, .wwc-primary-nav-trigger .wwc-menu-icon:after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: white;
  right: 0;
  -webkit-transition: -webkit-transform .3s, top .3s, background-color 0s;
  -moz-transition: -moz-transform .3s, top .3s, background-color 0s;
  transition: transform .3s, top .3s, background-color 0s;
}
.wwc-primary-nav-trigger .wwc-menu-icon::before {
  top: -5px;
}
.wwc-primary-nav-trigger .wwc-menu-icon::after {
  top: 5px;
}
.wwc-primary-nav-trigger .wwc-menu-icon.is-clicked {
  background-color: rgba(255, 255, 255, 0);
}
.wwc-primary-nav-trigger .wwc-menu-icon.is-clicked::before, .wwc-primary-nav-trigger .wwc-menu-icon.is-clicked::after {
  background-color: white;
}
.wwc-primary-nav-trigger .wwc-menu-icon.is-clicked::before {
  top: 0;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}
.wwc-primary-nav-trigger .wwc-menu-icon.is-clicked::after {
  top: 0;
  -webkit-transform: rotate(225deg);
  -moz-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  -o-transform: rotate(225deg);
  transform: rotate(225deg);
}
@media only screen and (min-width: 768px) {
  .wwc-primary-nav-trigger {
    width: 100px;
    padding-left: 1em;
    background-color: transparent;
    height: 30px;
    line-height: 30px;
    right: 2.2em;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .wwc-primary-nav-trigger .wwc-menu-text {
    display: inline-block;
  }
  .wwc-primary-nav-trigger .wwc-menu-icon {
    left: auto;
    right: 1em;
    -webkit-transform: translateX(0) translateY(-50%);
    -moz-transform: translateX(0) translateY(-50%);
    -ms-transform: translateX(0) translateY(-50%);
    -o-transform: translateX(0) translateY(-50%);
    transform: translateX(0) translateY(-50%);
  }
}

.wwc-primary-nav {
  /* by default it's hidden - on top of the viewport */
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: rgba(2, 23, 37, 0.96);
  z-index: 2;
  text-align: center;
  padding: 50px 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: auto;
  /* this fixes the buggy scrolling on webkit browsers - mobile devices only - when overflow property is applied */
  -webkit-overflow-scrolling: touch;
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%);
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
.wwc-primary-nav li {
  font-size: 22px;
  font-size: 1.375rem;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: .2em 0;
  text-transform: capitalize;
}
.wwc-primary-nav a {
  display: inline-block;
  padding: .4em 1em;
  border-radius: 0.25em;
  -webkit-transition: background 0.2s;
  -moz-transition: background 0.2s;
  transition: background 0.2s;
}
.no-touch .wwc-primary-nav a:hover {
  background-color: #e36767;
}
.wwc-primary-nav .wwc-label {
  color: #e36767;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  font-size: 0.875rem;
  margin: 2.4em 0 .8em;
}
.wwc-primary-nav .wwc-social {
  display: inline-block;
  margin: 0 .4em;
}
.wwc-primary-nav .wwc-social a {
  width: 44px;
  height: 44px;
  padding: 0;
  background-image: url("../img/wwc-socials.svg");
  background-repeat: no-repeat;
  /* image replacement */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}
.wwc-primary-nav .wwc-facebook a {
  background-position: 0 0;
}
.wwc-primary-nav .wwc-instagram a {
  background-position: -44px 0;
}
.wwc-primary-nav .wwc-dribbble a {
  background-position: -88px 0;
}
.wwc-primary-nav .wwc-twitter a {
  background-position: -132px 0;
}
.wwc-primary-nav.is-visible {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}
@media only screen and (min-width: 768px) {
  .wwc-primary-nav {
    padding: 80px 0;
  }
}
@media only screen and (min-width: 1170px) {
  .wwc-primary-nav li {
    font-size: 30px;
    font-size: 1.875rem;
  }
  .wwc-primary-nav .wwc-label {
    font-size: 16px;
    font-size: 1rem;
  }
}

.wwc-intro {
  position: relative;
  height: 100%;
  background: url("../img/wwc-background-img.jpg") no-repeat center center;
  background-size: cover;
  z-index: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display:table;
  width: 100%;
}
.wwc-table-cell {
	display:table-cell;
	vertical-align:middle;
	text-align:center;
}

.wwc-intro img {
	width:80%;
	max-width:200px;
	opacity:0.25;
	transition: all 0.5s ease;
	margin:15px 0px;
}

.wwc-intro img:hover {
	opacity:0.75;
}

.wwc-intro h1 {
  width: 90%;
  max-width: 1170px;
  color: white;
  font-size: 30px;
  font-size: 1.75rem;
  font-weight: 500;
  text-align: center;
  margin:10px auto;
  text-transform:uppercase;
}

.wwc-intro h2 {
  width: 90%;
  max-width: 1170px;
  color: white;
  font-size: 20px;
  font-size: 1.25rem;
  font-weight: 300;
  text-align: center;
  margin:10px auto;
  text-transform:uppercase;
}

@media only screen and (min-width: 768px) {
  .wwc-intro h1 {
    font-size: 30px;
    font-size: 2.5rem;
  }
  
  .wwc-teaser-form h3 {
    color: #fff;
    text-transform: uppercase;
    font-size: 34px;
    font-weight: 300;
}

.wwc-teaser-form h3 span {
    color: #fff;
    text-transform: uppercase;
    font-size: 36px;
    font-weight: 700;
}

.wwc-table-cell nav.main-nav {
    float: none;
    /* margin: 0px; */
    /* width: auto; */
    background: transparent;
    position: relative;
    display: inline-block;
    width: auto;
    /* margin: 0; */
    margin: 0px auto;
}
  
}

.wwc-main-content {
  position: relative;
  z-index: 1;
}
.wwc-main-content p {
  line-height: 1.6;
  margin: 2em 0;
}
@media only screen and (min-width: 1170px) {
  .wwc-main-content p {
    font-size: 20px;
    font-size: 1.25rem;
  }
}


/* -------------------------------- 

Form

-------------------------------- */

.wwc-form {
}
.wwc-form::after {
  clear: both;
  content: "";
  display: table;
}
.wwc-form fieldset {
  margin: 24px 0;
}
.wwc-form legend {
  padding-bottom: 10px;
  margin-bottom: 20px;
  font-size: 2rem;
  border-bottom: 1px solid #ecf0f1;
}
.wwc-form div {
  /* form element wrapper */
  position: relative;
  margin: 20px 0;
}
.wwc-form h4, .wwc-form .wwc-label {
  font-size: 1.3rem;
  color: #94aab0;
  margin-bottom: 10px;
}
.wwc-form .wwc-label {
  display: block;
}
.wwc-form input, .wwc-form textarea, .wwc-form select, .wwc-form label {
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem;
  color: #2b3e51;
}
.wwc-form input[type="text"],
.wwc-form input[type="email"],
.wwc-form textarea,
.wwc-form select,
.wwc-form legend {
  display: block;
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}
.wwc-form input[type="text"],
.wwc-form input[type="email"],
.wwc-form textarea,
.wwc-form select {
  /* general style for input elements */
  padding: 12px;
  border: 1px solid #cfd9db;
  background-color: #ffffff;
  border-radius: .25em;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.08);
}
.wwc-form input[type="text"]:focus,
.wwc-form input[type="email"]:focus,
.wwc-form textarea:focus,
.wwc-form select:focus {
  outline: none;
  border-color: #2c97de;
  box-shadow: 0 0 5px rgba(44, 151, 222, 0.2);
}
.wwc-form .wwc-select {
  /* select element wapper */
  position: relative;
}
.wwc-form .wwc-select::after {
  /* arrow icon for select element */
  content: '';
  position: absolute;
  z-index: 1;
  right: 16px;
  top: 50%;
  margin-top: -8px;
  display: block;
  width: 16px;
  height: 16px;
  background: url("img/wwc-icon-arrow.svg") no-repeat center center;
  pointer-events: none;
}
.wwc-form select {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08);
  cursor: pointer;
}
.wwc-form select::-ms-expand {
  display: none;
}
.wwc-form .wwc-form-list {
  margin-top: 16px;
}
.wwc-form .wwc-form-list::after {
  clear: both;
  content: "";
  display: table;
}
.wwc-form .wwc-form-list li {
  /* wrapper for radio and checkbox input types */
  display: inline-block;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: 0 26px 16px 0;
  float: left;
}
.wwc-form input[type=radio],
.wwc-form input[type=checkbox] {
  /* hide original check and radio buttons */
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  margin: 0;
  padding: 0;
  opacity: 0;
  z-index: 2;
}
.wwc-form input[type="radio"] + label,
.wwc-form input[type="checkbox"] + label {
  padding-left: 24px;
}
.wwc-form input[type="radio"] + label::before,
.wwc-form input[type="radio"] + label::after,
.wwc-form input[type="checkbox"] + label::before,
.wwc-form input[type="checkbox"] + label::after {
  /* custom radio and check boxes */
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -8px;
  width: 16px;
  height: 16px;
}
.wwc-form input[type="radio"] + label::before,
.wwc-form input[type="checkbox"] + label::before {
  border: 1px solid #cfd9db;
  background: #ffffff;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.08);
}
.wwc-form input[type="radio"] + label::before,
.wwc-form input[type="radio"] + label::after {
  border-radius: 50%;
}
.wwc-form input[type="checkbox"] + label::before,
.wwc-form input[type="checkbox"] + label::after {
  border-radius: .25em;
}
.wwc-form input[type="radio"] + label::after,
.wwc-form input[type="checkbox"] + label::after {
  background-color: #2c97de;
  background-position: center center;
  background-repeat: no-repeat;
  box-shadow: 0 0 5px rgba(44, 151, 222, 0.4);
  display: none;
}
.wwc-form input[type="radio"] + label::after {
  /* custom image for radio button */
  background-image: url("../img/wwc-icon-radio.svg");
}
.wwc-form input[type="checkbox"] + label::after {
  /* custom image for checkbox */
  background-image: url("../img/wwc-icon-check.svg");
}
.wwc-form input[type="radio"]:focus + label::before,
.wwc-form input[type="checkbox"]:focus + label::before {
  /* add focus effect for radio and check buttons */
  box-shadow: 0 0 5px rgba(44, 151, 222, 0.6);
}
.wwc-form input[type="radio"]:checked + label::after,
.wwc-form input[type="checkbox"]:checked + label::after {
  display: block;
}
.wwc-form input[type="radio"]:checked + label::before,
.wwc-form input[type="radio"]:checked + label::after,
.wwc-form input[type="checkbox"]:checked + label::before,
.wwc-form input[type="checkbox"]:checked + label::after {
  -webkit-animation: wwc-bounce 0.3s;
  -moz-animation: wwc-bounce 0.3s;
  animation: wwc-bounce 0.3s;
}
.wwc-form textarea {
  min-height: 200px;
  resize: vertical;
  overflow: auto;
}
.wwc-form input[type="submit"] {
  /* button style */
  border: none;
  background: #2c97de;
  border-radius: .25em;
  padding: 16px 20px;
  color: #ffffff;
  font-weight: bold;
  float: right;
  cursor: pointer;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  width: 25%;
}
.no-touch .wwc-form input[type="submit"]:hover {
  background: #42a2e1;
}
.wwc-form input[type="submit"]:focus {
  outline: none;
  background: #2b3e51;
}
.wwc-form input[type="submit"]:active {
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -o-transform: scale(0.9);
  transform: scale(0.9);
}
.wwc-form [required] {
  background: url("../img/wwc-required.svg") no-repeat top right;
}
.wwc-form .error-message p {
  background: #e94b35;
  color: #ffffff;
  font-size: 1.4rem;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  border-radius: .25em;
  padding: 16px;
}
.wwc-form .error {
  border-color: #e94b35 !important;
}
@media only screen and (min-width: 600px) {
  .wwc-form div {
    /* form element wrapper */
    margin: 32px 0;
  }
  .wwc-form legend + div {
    /* reduce margin-top for first form element after the legend */
    margin-top: 20px;
  }
  .wwc-form h4, .wwc-form .wwc-label {
    font-size: 1.4rem;
    margin-bottom: 10px;
  }
  .wwc-form input[type="text"],
  .wwc-form input[type="email"],
  .wwc-form textarea,
  .wwc-form select {
    padding: 16px;
  }
}

@-webkit-keyframes wwc-bounce {
  0%, 100% {
    -webkit-transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.8);
  }
}
@-moz-keyframes wwc-bounce {
  0%, 100% {
    -moz-transform: scale(1);
  }
  50% {
    -moz-transform: scale(0.8);
  }
}
@keyframes wwc-bounce {
  0%, 100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
    transform: scale(0.8);
  }
}
/* -------------------------------- 

Custom icons

-------------------------------- */
.wwc-form .icon input, .wwc-form .icon select, .wwc-form .icon textarea {
  padding-left: 54px !important;
}
.wwc-form .user {
  background: url("../img/wwc-icon-user.svg") no-repeat 16px center;
}
.wwc-form [required].user {
  background: url("../img/wwc-icon-user.svg") no-repeat 16px center, url("../img/wwc-required.svg") no-repeat top right;
}
.wwc-form .company {
  background: url("../img/wwc-icon-company.svg") no-repeat 16px center;
}
.wwc-form [required].company {
  background: url("../img/wwc-icon-company.svg") no-repeat 16px center, url("../img/wwc-required.svg") no-repeat top right;
}
.wwc-form .email {
  background: url("../img/wwc-icon-email.svg") no-repeat 16px center;
}
.wwc-form [required].email {
  background: url("../img/wwc-icon-email.svg") no-repeat 16px center, url("../img/wwc-required.svg") no-repeat top right;
  background-color: #fff;
}
.wwc-form .budget {
  background: url("../img/wwc-icon-budget.svg") no-repeat 16px center;
}
.wwc-form .message {
  background: url("../img/wwc-icon-message.svg") no-repeat 16px 16px;
}
.wwc-form [required].message {
  background: url("../img/wwc-icon-message.svg") no-repeat 16px 16px, url("../img/wwc-required.svg") no-repeat top right;
}

/* -------------------------------- 

FLoating labels 

-------------------------------- */
.js .floating-labels div {
  margin: 28px 0;
}
.js .floating-labels .wwc-label {
  position: absolute;
  top: 16px;
  left: 16px;
  font-size: 1.6rem;
  cursor: text;
  -webkit-transition: top 0.2s, left 0.2s, font-size 0.2s;
  -moz-transition: top 0.2s, left 0.2s, font-size 0.2s;
  transition: top 0.2s, left 0.2s, font-size 0.2s;
}
.js .floating-labels .icon .wwc-label {
  left: 56px;
}
.js .floating-labels .wwc-label.float {
  /* move label out the input field */
  font-size: 1.2rem;
  top: -22px;
  left: 0 !important;
  color:#fff;
}
@media only screen and (min-width: 600px) {
  .js .floating-labels legend + div {
    /* reduce margin-top for first form element after the legend */
    margin-top: 16px;
  }
  .js .floating-labels .wwc-label {
    top: 20px;
  }
}

.error-message {
	display:none;
}

.wwc-teaser-form {
    width: 80%;
    max-width: 600px;
    background-color: rgba(47, 136, 154, 0.5);
    border-radius: 6px;
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
}

.wwc-teaser-form form.wwc-form {
    padding: 0px;
}

.wwc-teaser-form .wwc-form fieldset {
    margin: 0px;
}

.wwc-teaser-form input#wwc-email {
    width: 100%;
	float:none;
}

.wwc-teaser-form input[type="submit"] {
    width: 25%;
}

.wwc-teaser-form .wwc-form input[type=submit] {
    background: #2f889a;
    transition: all 0.5s ease;
    font-size: 28px;
    padding: 16px;
    text-transform: uppercase;
    width: 100%;
    float: none;
    margin: 0px auto;
}

.wwc-teaser-form div {
    background: rgba(255, 255, 255, 0);
    transition: all 0.5s ease;
    margin: 10px 0px;
}

.wwc-teaser-form .wwc-form input[type=submit]:hover, .no-touch .wwc-form input[type=submit]:focus {
    background: #EF9090;
    outline: none;
}

.wwc-teaser-submit {
    padding: 0px;
    margin: 32px 0px 3px !important;
}

@media only screen and (max-width: 479px) {

	.wwc-teaser-form h3 {
		font-size: 18px;
	}
	
	.wwc-form input[type="text"], .wwc-form input[type="email"], .wwc-form textarea, .wwc-form select {
		padding: 6px;
	}
	
	.js .floating-labels .wwc-label {
		font-size: 18px;
	}
	
	.wwc-teaser-form .wwc-form input[type=submit] {
		font-size: 18px;
		padding: 12px;
	}

}

@media only screen and (max-width: 320px) {

.wwc-teaser-form {
    width: 90%;
    margin: -90px auto;
}

}

.wwc-half {
	width:50%;
	margin:0;
	padding:0;
	float:left;
}

.wwc-half {
	width:100%;
	margin:0;
	padding:0;
	float:none;
}



.clear {
	clear:both;
}

a.wwc-terms-link {
	color:#2f889a;
}


a.wwc-learn-more {
	background-color:#e36767 !important;
	transition: all 0.5s ease;
}

a.wwc-learn-more:hover {
	background-color:#FD6262 !important;
}

nav.intro-nav {
    display: block;
    width: 100%;
}

.intro-nav ul {
    list-style: none;
    margin: 0px;
    padding: 14px;
}

.intro-nav ul li {
    display: inline-block;
    margin: 10px;
}

.intro-nav ul li a{
    
}

.intro-nav ul li a:hover{
    
}

a.wwc-learn-more {
    background-color: #e36767 ;
    transition: all 0.5s ease;
    padding: 13px 20px;
    border-radius: 30px;
}

a.wwc-learn-more:hover {
	background-color:#FD6262 ;
}

a.wwc-get-started {
	background-color:#2F889A ;
	transition: all 0.5s ease;
    padding: 13px 20px;
    border-radius: 30px;
}

a.wwc-get-started:hover {
	background-color:#3DADC3 ;
}


.trans {
	background-color:transparent;
}

.wwc-tabbed-nav {
	position:relative;
	margin-top:-70px;
}

.wwc-inner-tab-section {
	position:relative;
	width:100%;
	padding:80px 0px;
	margin:0px;
}

.wwc-step-item {
	width:100%;
	max-width:800px;
	margin:0 auto;
	text-align:center
}

.wwc-step-item h3 {
	text-transform:uppercase;
	font-size:40px;
	font-weight:700;
}

.wwc-title-divider {
    width: 100%;
    height: 3px;
    background-color: #515F69;
    margin: 20px auto;
}

.wwc-step-item-content img {
	width:25%;
	height:auto;
	float:left;
}

p.wwc-step-text {
	font-size:18px !important;
	line-height:2 !important;
	text-align:left;
	width:70%;
	float:left;
	padding-top: 40px !important;
}

.wwc-step-item-content {
    border: solid 1px #f1f1f1;
    margin-top: 50px;
}

@media only screen and (max-width: 479px) {

.wwc-step-item-content img {
    width: 50%;
    height: auto;
    float: none;
    margin-top: 0px;
}

.wwc-step-item h3 {
    text-transform: uppercase;
    font-size: 24px;
}

p.wwc-step-text {
    font-size: 14px !important;
    line-height: 2 !important;
    text-align: left;
    width: 100%;
    float: left;
    padding: 0px 20px 20px 20px !important;
    text-align: center;
}

.wwc-inner-tab-section {
    padding: 40px 0px;
}

.wwc-step-item-content {
    margin-top: 28px;
}

}

































